body {
  letter-spacing: .01em;
  font-family:Arial, Helvetica, sans-serif;
  height: 100%;
  width:100%;
}

header {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:40px;
}

header * {
	float:right;
  margin-right:20px;
  margin-top:20px;
}

header div {
  background-repeat: no-repeat;
  background-position: top center;
  height:20px;
  width:20px;
  cursor: default;
}

.share {
	height:22px;
	font-size:13px;
	width: 60px;
	color: #444;
	text-align: center;
	background-color: #f3f3f3;
	padding-top:8px;
	border-radius: 2px;
	margin-top:15px;
  cursor: default;
}

.share:hover {
	background-color: #eee;
}

.apps {
  background-image: url('images/apps.png');
}

.notifications {
  background-image: url('images/bellz.png');
}

.apps:hover, .notifications:hover{
  background-position: bottom center;
}

header a {
 text-decoration: none;
 color: #555;
 font-size:14px;
}

header a:hover {
	color:#222;
	text-decoration: underline;
}

header a img {
  margin:0px;
}
header a:first-child {
	margin-top:16px;
  margin-right:14px;
}



.content {
  height: 200px;
  width: 560px;
  position:relative;
  margin:190px auto 0 auto;
}

.google-logo {
  height:95px;
  width:269px;
  position:relative;
  margin: 0px 0 0 140px;
}
form {
	height:27px;
	width: 560px;
  border:1px solid #1e5fcc;
  padding-left:4px;
}

form input {
	border: 0px;
  height: 25px;
  width: 535px;
  margin: 0px 0 0 0px;
  font-size:14px;
}

form input:focus {
 outline:none;
}

form img {
  position: relative;
  cursor: pointer;
  height:20px;
  float:right;
  padding-right:3px;
  margin-top:4px;
}

button {
  font-size:11px;
  font-weight:700;
  color: #444;
  height: 27px;
  width: 115px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 5px;
  cursor:pointer;
}

button:hover {
  box-shadow: 0px 1px 2px #ccc;
}

button:focus {
	outline:none;
}

.buttonBox {
  height: 30px;
  width: 257px;
  margin: 13px auto;
}

.searchButton {
  width: 100px;
}
#speechPop {
	display: none;
  position:relative;
  float:right;
  margin-right:-35px;
  margin-top:5px;
  height:25px;
  width:100px;
  background-color: #000;
  border:1px solid #fff;
  box-shadow: 0px 1px 2px #ddd;
}

#speechPop p {
	text-align: center;
	font-size:11px;
  color:#fff;
  margin: 0px;
  padding: 7px 0 0 0;
}